.thread-controller {
  position: relative;

  &.view-action {
    .post {
      margin-bottom: 20px;

      .post-subject {
        font-size: 21px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 0;
        padding-right: 25px;
      }

      .post-meta {
        padding: 10px;
      }

      .post-content {
        background: @grayLighter;
        padding: 10px;
        position: relative;
      }

      .post-actions {
        .clearfix();
        margin-top: 10px;
      }

      .post-permalink {
        position: absolute;
        right: -25px;
        top: 0;

        > a {
          color: @grayLighter;

          &:hover {
            color: @linkColorHover;
          }
        }
      }

      .post-share {
        padding: 20px 0;
        min-height: 24px;
      }
    }

    .thread {
      .post-subject {
        font-size: 30px;
        line-height: 40px;
      }
    }

    .time-ago {
      color: @grayLight;
    }
  }
}