.thread-controller {
  .thread {
    .thread-top, {
      padding: 10px;
    }

    .thread-left {
      padding: 10px;
    }

    .thread-right {
      padding: 10px 0;
    }

    .thread-bottom {
      padding: 10px;
    }
  }

  .reply {
    .reply-top, {
      padding: 10px;
    }

    .reply-left {
      padding: 10px;
    }

    .reply-right {
      padding: 10px 0;
    }

    .reply-bottom {
      padding: 10px;
    }
  }

  .time-ago {
    color: @grayLight;
  }
}